# Eclipse IDE project files #
############################
.project
.cproject
.settings

# Compiled source #
###################
*.o
*.a
*.hex
*.elf
*.map
*.asm

# Other files #
###############
*.swp

# Folders #
###########
External
build
.vscode
